@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* breakpoints */
  --breakpoint-xsm: 500px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 690px;
  --breakpoint-lg: 988px;
  --breakpoint-xl: 1078px;
  --breakpoint-xxl: 1256px;

  /* colors */
  --color-textGrey: #71767b;
  --color-textGreyLight: #e7e9ea;
  --color-borderGrey: #2f3336;
  --color-inputGrey: #202327;
  --color-iconBlue: #1d9bf0;
  --color-iconGreen: #00ba7c;
  --color-iconPink: #f91880;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@layer utilities {
  .hover_btn {
    @apply rounded-full hover:bg-[#181818] transition-all ease-in-out duration-300;
  }
  input {
    @apply bg-transparent outline-none placeholder:text-textGrey placeholder:text-lg;
  }
}
